@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;


.free-type-input{
    label {
        color: $color-black;
        font-size: $font-size-medium;
        margin-left: 0.5rem;
        font-weight: 800;
        mix-blend-mode: difference;
    }

    #text-area {
        border: 0.25rem solid $color-black;
        border-radius: 1rem;
        height: 10rem;
        width: 100%;
        max-width: 100%;
        margin-bottom: 0.5rem;
        margin-top: 0.2rem;
        padding: 0.5rem;
        line-height: 1.2rem;
        font-size: 1.25rem;
        &:focus {
            border: 0.25rem solid $color-orange;
            outline: none;
          }
    }
}
    