@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.skills-section{
    top: 5rem;
    width: 50%;
    height: 92.5vh;
    left: 49.5vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    &__gifs-carousel{
        display: flex;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        margin-top: 2rem;
        width: 50vw;
    }
    .left-arrowhead{
        position: relative;
        transform: rotateZ(180deg);
        height: 70px;
        aspect-ratio: auto;
        margin: 0rem 3rem;
        z-index: 10;
        &:hover{
            transform: rotateZ(180deg);
            height: 70px;
            aspect-ratio: auto;
            margin: 0rem 3rem;
            cursor: pointer;
        }
        // &:active{
        //     transform: rotateZ(180deg);
        //     height: 50px;
        //     aspect-ratio: auto;
        //     margin: 0rem 4rem;
        //     transition: 100ms;
        // }
    }
    .left-arrowhead-faded{
        position: relative;
        transform: rotateZ(180deg);
        height: 70px;
        aspect-ratio: auto;
        margin: 0rem 3rem;
        opacity: 0.3;
        z-index: 10;
        // &:hover{
        //     transform: rotateZ(180deg);
        //     height: 70px;
        //     aspect-ratio: auto;
        //     margin: 0rem 3rem;
        //     opacity: 0.3;
        //     cursor: pointer;
        // }
    }
    .right-arrowhead{
        position: relative;
        height: 70px;
        aspect-ratio: auto;
        margin: 0rem 3rem;
        z-index: 10;
        &:hover{
            height: 70px;
            aspect-ratio: auto;
            margin: 0rem 3rem;
            cursor: pointer;
        }
        // &:active{
        //     height: 50px;
        //     aspect-ratio: auto;
        //     margin: 0rem 3.68rem;
        //     transition: 100ms;
        // }
    }
    .right-arrowhead-faded{
        position: relative;
        height: 70px;
        aspect-ratio: auto;
        margin: 0rem 3rem;
        opacity: 0.3;
        z-index: 10;
        &:hover{
            height: 70px;
            aspect-ratio: auto;
            margin: 0rem 3rem;
            opacity: 0.3;
            cursor: pointer;
        }
    }
    .HTML {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .CSS {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .SASS {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .TypeScript {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .JavaScript {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .React {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Java {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Python {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .visual-paradigm {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .MySQL {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Springboot {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Hadoop {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Procreate {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Figma {
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Scikit-Learn{
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Tensor-Flow{
        max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    .Docker{
      max-height: 15rem;
        margin-right: -15rem;
        margin-left:-15rem;
        margin-bottom: 1rem;
    }
    &__pedestal{
        height: 550px;
        aspect-ratio: auto;
        transform: translateY(-100px) translateX(-10px);
        z-index: 0;
    }
}
