@use "../../styles/_variables.scss" as *;

.header-home {
    color: $color-black;
    width: 26.56rem;
    position: fixed;
    left: 12vw;
    top: 7rem;
    mix-blend-mode: difference;
    h1 {
        letter-spacing: -1.5rem;
    }
    h6 {
        font-weight: $font-weight-regular;
        margin: 0rem 0.75rem;
    }
}

.header-contact {
    color: $color-white;
    width: 26.56rem;
    position: fixed;
    left: 10vw;
    top: 7rem;
    h1 {
        letter-spacing: -1.5rem;
    }
    h6 {
        font-weight: $font-weight-regular;
        margin: 0rem 0.75rem;
    }
}

.header-about-me {
    color: $color-white;
    width: 26.56rem;
    position: fixed;
    left: 23vw;
    top: 7rem;
    h1 {
        letter-spacing: -1.5rem;
    }
    h6 {
        font-weight: $font-weight-regular;
        margin: 0rem 0.75rem;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .header-home {
        width: 100%;
        left: 0rem;
        color: $color-black;
        mix-blend-mode: difference;
        text-align: center;
        background-color: white;
        mix-blend-mode: normal;
        z-index: 30;
        h1 {
            letter-spacing: -1.5rem;
            margin-left: -1.5rem;
        }
        h6 {
            font-weight: $font-weight-regular;
            margin: 0rem 0.75rem;
        }
    }
}