@use "../../styles/_variables.scss" as *;
@use "../../styles/_reset.scss" as *;
@use "../../styles/_typography.scss" as *;

.about-me-intro{
    width: 100%;
    background-color: $color-black;
    display: flex;
}
@media only screen and (max-width: $mobile-breakpoint) {
    .about-me-intro{
        width: 100%;
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}